.obsolite
{
    text-decoration: line-through;
}

.time-long
{
    color: rgb(0,125,255);
}

.time-medium
{
    color: rgb(255,200,0);
}

.time-short
{
    color: rgb(255,100,0);
}

#departureList > ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.time-passed
{
    background-color: gray;
    display: none;
}

li
{
    border: dashed orange 5px;
}

li.alert-high
{
    animation-name: alert-high-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

li.alert-low
{
    animation-name: alert-low-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes alert-high-animation
{
    0%   {background-color: inherit;}
    50%  {background-color: rgb(255, 0, 0, 0.6);}
    100%   {background-color: inherit;}
}

@keyframes alert-low-animation
{
    0%   {background-color: inherit;}
    50%  {background-color: rgb(255, 255, 0, 0.6);}
    100%   {background-color: inherit;}
}